<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Mycompany_Mymodule>
             <version>1.0.4</version>
        </Mycompany_Mymodule>
    </modules>
    <global>
        <blocks>
            <mycompany_mymodule>
                <class>Mycompany_Mymodule_Block</class>
            </mycompany_mymodule>
        </blocks>
        <helpers>
            <mycompany_mymodule>
                <class>Mycompany_Mymodule_Helper</class>
            </mycompany_mymodule>
        </helpers>
        <models>
            <mycompany_mymodule>
                <class>Mycompany_Mymodule_Model</class>
            </mycompany_mymodule>
            <core>
                <rewrite>
                    <file_validator_image>Mycompany_Mymodule_Model_Rewrite_Core_File_Validator_Image</file_validator_image>
                </rewrite>
            </core>
            <cms>
                <rewrite>
                    <wysiwyg_images_storage>Mycompany_Mymodule_Model_Rewrite_Cms_Wysiwyg_Images_Storage</wysiwyg_images_storage>
                </rewrite>
            </cms>
        </models>
    </global>
    <adminhtml>       
        <cms>
            <browser>
                <extensions>
                    <allowed>
                        <mp4>1</mp4>
                    </allowed>
                    <image_allowed>
                        <mp4>1</mp4>
                    </image_allowed>
                </extensions>
            </browser>
        </cms>
    </adminhtml>
    <default>
        <mycompany_mymodule>
            <general>
                <enabled><![CDATA[1]]></enabled>
            </general>
        </mycompany_mymodule>
    </default>
</config>
